.mdp{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    background-color: #345457;
    margin: 0;
}

.bo{
    text-align: center;
}

.span{
    color: #E4BC7F;
    font-family: 'Cinzel Decorative', cursive;
    font-size: 20px;
}

.coco{
    display: flex;
    flex-direction: column;
}

.form{
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 20px;
}

.btnMDP{
    margin-top: 70px;
    width: 100%;
}

