.Cell-dayOfWeek{
    color: #E4BC7F;
}
.css-1675apn-MuiTableCell-root .Cell-dayOfMonth{
    color: #E4BC7F !important;
}
.css-1675apn-MuiTableCell-root .Cell-dayOfWeek {
    color: #E4BC7F !important;
}
.Label-label {
    background-color: #E4BC7F;
    border-radius: 5px 0 0 5px;
}